body {
    font-family: 'JetBrains Mono', monospace;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-size: large;
}

nav {
    display: flex;
    gap: 1rem;
}